<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>登陆</title>
</head>
<body>

    <form action="#" th:action="@{/hello.do}" th:object="${user}" method="post">
        username<input th:field="${user.username}" th:type="text"/><br/>
        password<input th:field="${user.password}" th:type="password"/>
        <br/>
        <button>submit</button>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <!--
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
         -->
    </form>
</body>
</html>